.features__icon {
  margin-bottom: 30px;
  padding: 25px 100px;
  display: flex;
  justify-content: center;

  background: $third-bg-color;

  &--size {
    width: 70px;
    height: 70px;
  }
}

.features__subtitle {
  margin-bottom: 10px;

  color: $auxiliary-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
  @include tablet {
    width: 270px;
  }
  @include desktop {
    text-align: left;
  }
}

.features__list {
  padding: 0;
  @include tablet {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    display: flex;
    gap: 30px;
  }
}

.features__list--item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}

.features__text {
  @include phone {
    width: 480px;
  }
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}
