.header {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $bg-color;
  border-bottom: 1px solid $border-color;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-left: auto;
  }
}

.header-logo {
  @include phone {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
  }
  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header__link {
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $auxiliary-color;
  @include transition();

  &--contact {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    @include transition();

    color: $primary-text-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon--envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin: auto;
}

.icon--vector {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header__nav,
  .header__list {
    display: none;
  }

  .header {
    max-width: 768px;
    height: 60px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .header__nav,
  .header__list {
    display: none;
  }

  .header {
    &__list {
      flex-direction: column;
      row-gap: 10px;
      margin-left: auto;
    }

    &__link {
      padding: 0;
    }

    .icon--envelope,
    .icon--vector {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    max-width: 1200px;

    &__container {
      height: 80px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__list {
      flex-direction: column;
      row-gap: 10px;
      margin-left: auto;
    }

    &__link {
      padding: 0;
    }
  }
}
