.hero {
  background-color: $main-bg-color;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  @media screen and (max-width: 479px) {
    padding: 118px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg/hero-480@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-480@2x.jpg);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
    height: 400px;
    padding: 118px 0;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg/hero-480@1x.jpg);
    background-size: contain;
    background-position: center;
    overflow: hidden;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-480@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    padding: 118px 0;
    margin: 0 auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg/hero-768@1x.jpg);
    background-size: contain;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-768@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg/hero-1600@1x.jpg);
    background-size: cover;
    overflow: hidden;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-1600@2x.jpg);
    }
  }
}

.hero__button {
  @media screen and (max-width: 767px) {
    min-width: 200px;
    height: 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    min-width: 216px;
    height: 50px;
  }
}

.hero__title {
  color: $title-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;

  @media screen and (max-width: 767px) {
    max-width: 360px;
    max-height: 84px;

    font-size: 24px;
    line-height: 1.62;
  }

  @media screen and (min-width: 768px) {
    width: 696px;
    max-height: 84px;

    font-size: 26px;
    line-height: 1.62;
  }
}
