.hero {
  background-color: $main-bg-color;
  padding: 118px 0;
  margin: 0 auto;
  height: 400px;

  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg/hero-480@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  @media screen and (max-width: 479px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-480@2x.jpg);
    }
  }

  @include phone {
    max-width: 480px;
    height: 400px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg/hero-480@1x.jpg);
    background-size: contain;
    background-position: center;
    overflow: hidden;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-480@2x.jpg);
    }
  }

  @include tablet {
    max-width: 768px;
    height: 400px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg/hero-768@1x.jpg);
    background-size: contain;
    background-position: center;
    overflow: hidden;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-768@2x.jpg);
    }
  }

  @include desktop {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg/hero-1600@1x.jpg);
    background-size: cover;
    overflow: hidden;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg/hero-1600@2x.jpg);
    }
  }
}

.hero__button {
  border: $accent-color;
  border-radius: 4px;
  min-width: 216px;

  @include phone {
    height: 50px;
  }
  @include tablet {
    height: 50px;
  }
  @include desktop {
    height: 50px;
  }
}

.hero__title {
  color: $title-color;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  text-align: center;

  @include phone {
    max-width: 360px;
    max-height: 84px;

    font-size: 26px;
    line-height: 1.6;
  }
  @include tablet {
    max-width: 360px;
    max-height: 84px;

    font-size: 26px;
    line-height: 1.6;
  }
  @include desktop {
    min-width: 696px;
    max-height: 120px;

    font-size: 44px;
  }
}
