.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  padding: 0;
  border: none;

  background-color: transparent;
  fill: $title-text-color;
  @include transition(fill);

  &:hover .burger-menu__icon,
  &:hover .close-menu__icon,
  &:focus .burger-menu__icon,
  &:focus .close-menu__icon {
    fill: $accent-color;
  }
}

// .mobile-menu__button.is-open .close-menu__icon {
//   display: block;
// }

// .mobile-menu__button.is-open .burger-menu__icon {
//   display: none;
// }

// .close-menu__icon {
//   display: none;
// }

.navigation {
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $auxiliary-color;
    @include transition();

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--current {
      color: $accent-color;
    }
  }

  &-list__item:not(last-child) {
    margin-bottom: 32px;
  }

  &-list__item:nth-child(3) {
    margin-bottom: 302px;
  }
}

.contacts {
  margin-bottom: 64px;

  &__tel {
    font-size: 34px;
    margin-bottom: 32px;

    color: $accent-color;
  }

  &__mail {
    font-size: 24px;

    color: $primary-text-color;
  }
}

.mobile-menu__social-links {
  display: flex;

  &--item {
    font-size: 18px;
    line-height: 1.22;
    padding-left: 10px;
    padding-right: 10px;

    color: $accent-color;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 796px;
  padding: 48px 40px;
  background-color: $bg-color;
  z-index: 3;

  transform: translateX(100%);
  @include transition(transform);

  list-style: none;
  color: $auxiliary-color;

  &--item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu .link {
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 481px) {
  .mobile-menu__button {
    display: none;
  }
}
