$primary-text-color: #757575;
$title-text-color: #000;
$auxiliary-color: #212121;
$title-color: #fff;
$accent-color: #2196f3;
$main-bg-color: #2f303a;
$bg-color: #fff;
$third-bg-color: #f5f4fa;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$portfolio-border-color: #eee;
$border-clients: #afb1b8;
$card-gap: 30px;
